<div class="card">
  <div class="card-header">
    <h4>{{title}}</h4>
  </div>
  <div class="card-body">
    {{#each-in curatedChanges as |cde data|}}
      <h5>{{cde}}</h5>
      <ul>
        {{#each data as |annotation|}}
          <li class="{{if annotation.accepted "text-muted" "text-danger"}}">
            {{unless annotation.accepted "[NOT ACCEPTED] "}}
            {{annotation.summary}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      <h4 class="text-muted text-center">There are no changes</h4>
    {{/each-in}}
  </div>
</div>
